<!DOCTYPE html>
<html lang="en" style="width: 90%; height: auto; padding: 20px; margin: auto;">
    <head>
        <!-- basic page needs -->
          <meta charset="utf-8">
          <meta http-equiv="X-UA-COMPATIBLE" content="IE/edge"> <!--ie edge meta tag-->
          <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- mobile specific metas-->
          <meta name="description" content="">
          <meta name="author" content="">
          <title>news gratifications</title>
          <!-- font-->
          <link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Lustria|Roboto|Eczar|Marcellus|Bree+Serif" rel="stylesheet">
          <!-- Latest compiled and minified CSS -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
          <!-- css-- this should be added after the bootstrap styles -->
          <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
          <!-- favicon-->
          <link rel="icon" type="image/png" href="{{ url_for('static', filename="img/star.png") }}" sizes="16x16">
    </head>

    <!-- HEADING -->
    <body style="background: #fafafa; font-family: HelveticaNeueLTStd-Bd,'HelveticaNeueLTStd-Bd','Helvetica Neue',Helvetica,'Arial CE',Arial,sans-serif;
    color: #1a1a1a; font-size: medium" >
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <h1 style="color: crimson; font-size: 50px" ><b>Swiftly *</b></h1>
                        <small style="color: #1a1a1a;">world news - pressed hourly</small>
                </div>

                <!-- NEWS SEARCH -->
                <div class="container">
                    <div class="dropdown" style="margin-top: 75px">
                        <button class="btn btn-default dropdown-toggle pull-right" type="button" data-toggle="dropdown">
                         more news<span style="margin-left: 5px" class="caret"></span></button>
                        <ul class="dropdown-menu pull-right" style="margin-top: 32px">
                          <li><a href="?publication=bbc">bbc uk</a></li>
                          <li><a href="?publication=nytimes">nytimes us</a></li>
                          <li><a href="?publication=spiegel">spiegel de</a></li>
                          <li><a href="?publication=france24">france24 fr</a></li>
                          <li><a href="?publication=elpais">elpais es</a></li>
                          <li><a href="?publication=ndtv">ndtv in</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        <hr style="border-color: darkgray"><br><br>

        <!-- ARTICLES -->
    <div class="container">
        <div class="row menu-category">
            {% for article in articles %}
                <div class="col-lg-4 col-md-6s">

                {% if publication == 'bbc'%}

                    <h3 style="line-height: 1.3">{{ article.title.capitalize() }} </h3>
                    <p> {{ article.summary }} </p>
                    <em><h5 style="line-height: 2"> {{ article.published }} </h5><br/></em>
                    <img src="{{ article.media_thumbnail[0]['url'] }}" alt="bbc-feed-image" class="img-responsive img-rounded"><br>
                    <a href="{{ article.link }}" target="_blank"><i style="font-size: small">source: {{ publication.upper() }} News</i></a>

                {% elif publication == 'nytimes' %}

                    <h3 style="line-height: 1.3">{{ article.title }} </h3>
                    <p> {{ article.summary }} </p>
                    <em><h5 style="line-height: 2"> {{ article.published }} </h5><br/></em>
                    {% if article.media_content %}
                        <img src="{{ article.media_content[0]['url'] }}" alt="ny-feed-image" class="img-responsive img-rounded" width="200" height="150"><br>
                    {% endif %}
                    <a href="{{ article.link }}" target="_blank"><i style="font-size: small">source: {{ publication.upper() }}</i></a>

                {% elif publication == 'spiegel' %}

                    <h3 style="line-height: 1.3">{{ article.title }} </h3>
                    <p> {{ article.summary }} </p>
                    <em><h5 style="line-height: 2"> {{ article.published }} </h5><br/></em>
                    {% if article.links[1] %}
                        <img src="{{ article.links[1].href }}" alt="spiegel-feed-image" class="img-responsive img-rounded" width="150" height="100"><br>
                    {% endif %}
                    <a href="{{ article.link }}" target="_blank"><i style="font-size: small">quelle: {{ publication.capitalize()}} - Schlagzeilen</i></a>

                {% elif publication=='france24' %}

                    <h3 style="line-height: 1.3">{{ article.title }} </h3>
                    <p> {{ article.summary }} </p>
                    <em><h5 style="line-height: 2"> {{ article.published }} </h5><br/></em>
                    <img src="{{ article.media_thumbnail[0].url }}" alt="fr24-feed-image" class="img-responsive img-rounded" width="150" height="100"><br>
                    <a href="{{ article.link }}" target="_blank"><i style="font-size: small">source: {{ publication.capitalize()}}</i></a>

                {% elif publication=='elpais' %}

                    <h3 style="line-height: 1.3">{{ article.title }} </h3>
                    <p> {{ article.summary }} </p>
                    <em><h5 style="line-height: 2"> {{ article.published }} </h5><br/></em>
                     {% if article.links[2] %}
                        <img src="{{ article.links[2].href }}" alt="spiegel-feed-image" class="img-responsive img-rounded""><br>
                    {% endif %}
                    <a href="{{ article.link }}" target="_blank"><i style="font-size: small">source: {{ publication.capitalize()}}</i></a>

                {% else %}

                    <h3 style="line-height: 1.3">{{ article.title }} </h3>
                    <p> {{ article.summary_detail.value }} </p>
                    <em><h5 style="line-height: 2"> {{ article.published }} </h5><br/></em>
                    <img src="{{ article.fullimage }}" alt="ndtv" class="img-responsive img-rounded"><br>
                    <a href="{{ article.link }}" target="_blank"><i style="font-size: small">source: {{ publication.capitalize()}} India</i></a>

                {% endif %}
                    <br>
                    <hr />
                </div>
            {% endfor %}
        </div>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <!--custom js here if any -->

            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-12">
                        <hr style="border-color: darkgray"/>
                        <footer style="text-align: center">2017 &#169; ideaScience | musingbox@gmail.com</footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>